<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
.calendar {
  width: 98%;
  margin: auto;
  font-size: 13px;
}

.calendar tr, .calendar td {
  border: 1px solid black;
}

.calendar th {
  padding: 10px;
  text-align: center;
  font-size: 18px;
}

.calendar td {
  width: 200px;
  height: 150px;
  padding: 20px 0px 0px 5px;
}

.month {
  font-size: 25px;
}

.date {
  font-size: 16px;
}

ul {
  height: 100%;
  padding: 0px 5px 0px 20px;
}

a {
  color: #17a2b8;
}
</style>
<body>
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% if user.is_authenticated  %}
          <a href="{% url 'logout' %}">Logout</a>
          <div class="clearfix">
            <a class="btn btn-info left" href="{% url 'cal:event' %}?{{ prev_month }}"> Previous Month </a>
            <a class="btn btn-info left" href="{% url 'cal:event' %}?{{ next_month }}"> Previous Month </a>
            <a class="btn btn-info left" href="{% url 'cal:event_new' %}"> New event </a>
        </div>
        {{ calendar }}
      {% else %}
          <a href="{% url 'signup' %}">Sign Up</a>
          <a href="{% url 'login' %}">Login</a>
      {% endif %}




{% endblock %}
</body>
</html>